@media (max-width: 1200px) {

	#logo img {
		width: 150px;
		height: auto;
		padding-right: 15px;
	}

	#header {
		display: flex;
		align-items: center;
		padding: 15px;
	}

	#header h1 {
		font-family: 'Indie Flower';
		color: var(--scnd-act-clr);
		font-size: 35px;
	}

	#navbar {
		overflow: hidden;
		width: 100%;
		background-color: var(--scnd-clr);
		z-index: 2;
	}

	#navbar #menu, .sticky  #menu{
		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#menu li {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		margin: 0;
		padding: 10px;
		box-sizing: border-box;
		text-align: center;
		overflow: hidden;
		transition: 0.3s;
	}

	.sticky {
		position: fixed;
		opacity: .8;
		top: 0;
		width: 100%;
		background-color: var(--scnd-clr);
		z-index: 2;
	}

	#navbar #menu a, .sticky #menu a {
		color: var(--act-clr);
		transition: 0.5s;
	}

	.icon {
		display: block;
		float: right;
		color: var(--act-clr);
		font-size: 25px;
		transition: 0.3s;
		padding: 5px;
		padding-right: 15px;
	}

	.icon:hover {
		color: var(--scnd-act-clr);
	}

	#navbar #menu a:hover, .sticky #menu a:hover {
		color: var(--scnd-act-clr);
		font-weight: bold;
		/*border-bottom: 1px solid var(--scnd-act-clr);*/
	}

	.section {
		border-bottom: 1px solid var(--act-clr);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		/*padding: 5%;*/
		width: 100%;
	}

	.section h1 {
		font-family: 'Indie Flower';
		padding: 15px 0 15px 0;
		color: var(--scnd-act-clr);
		background-color: rgba(255,196,87,.8);
		width: 100%;
		text-align: center;
		margin: 0;
	}

	.zone {
		flex-direction: column;
		width: 100%;
	}

	.bloc {
		max-width: 100%;
		margin: 0;
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		color: /*var(--main-clr)*/#004055;
		font-size: 15px;
		line-height: 150%;
	}

	img {
		width: 50%;
		height: auto;
		vertical-align: top;
		opacity: 1;
		border-radius: 20px;
	}

	.more {
		color: var(--act-clr);
		padding: 10px;
		border: 1px solid var(--act-clr);
		transition: 0.3s;
	}

	.more:hover {
		color: var(--scnd-act-clr);
		text-decoration: underline;
		border: 1px solid var(--scnd-act-clr);
	}

	#text_intro {
		background-color: #FF904A;
		opacity: 0.9;
	}

	#text_intro h2 {
		font-family: 'Indie Flower';
		color: var(--scnd-act-clr);
	}

	#pic_intro {
		background-color: rgba(255, 144, 74,.9);
	}

	#text_famille {
		background-color: #E89B43;
		opacity: 0.9;
	}

	#pic_famille {
		background-color: rgba(232, 155, 67,.9);
	}

	#text_parents {
		background-color: #E8BF43;
		opacity: 0.9;
	}

	#pic_parents {
		background-color: rgba(232, 191, 67,.9);
	}

	#text_contact {
		background-color: #FFE44A;
		opacity: 0.9;
	}

	#pic_contact {
		background-color: rgba(255, 228, 74,.9);
	}

	#scrollDown {
		display: none;
	}
}